{% extends 'base.html' %}
{% block body %}
<html>
   <head>
   </head>
   <body>
      <form method="POST" action="/additionalinfo">
         <h2 class="additional-info">Additional Info</h2>
         <br>
         <div class="mentoree-select-group">
            <label class="mentoree-label" for="radios">1. Are you a Mentor or Mentee?</label>
            <div class="mentoree">
               <label class="radio" for="radios-0">
               <input type="radio" name="mentoree-radios" id="radios-0" value="1" checked="checked">
               Mentor
               </label>
               <label class="radio" for="radios-1">
               <input type="radio" name="mentoree-radios" id="radios-1" value="0">
               Mentee
               </label>
            </div>
         </div>
         </br>
         <div class="age-group">
            <label class="age-label" for="agerange">2. Age Range</label>
            <div class="age">
               <select id="agerange" name="agerange" class="input-xlarge">
                  <option>Sprouts</option>
                  <option>Teens</option>
                  <option>20's</option>
                  <option>30's</option>
                  <option>40's</option>
                  <option>50's</option>
                  <option>60's</option>
                  <option>70's</option>
                  <option>I am wiser than you think</option>
               </select>
            </div>
         </div>
         </br>
         <div class="gender-group">
            <label class="gender-label" for="radios">3. Gender</label>
            <p><b>&nbsp;&nbsp;&nbsp;&nbsp;I can give advice with a ...:</b></p>
            <div class="gender">
               <label class="radio" for="radios-0">
               <input type="radio" name="gender_radios" id="radios-0" value="feminine touch" checked="checked">
               Feminine touch
               </label>
               <label class="radio" for="radios-1">
               <input type="radio" name="gender_radios" id="radios-1" value="man point of view">
               Man's point of view
               </label>
               <label class="radio" for="radios-0">
               <input type="radio" name="gender_radios" id="radios-2" value="gender neutral">
               Gender neutral point of view
               </label>
            </div>
         </div>
         <br>
         <div class="description-group">
            <label class="description-label" for="textarea">4. Mentors: Short Description of what you'd like to mentor on. 
            </br>&nbsp;&nbsp;&nbsp;&nbsp;Mentees: Short Description of what you'd like mentoring on</label>
            <div class="description">                     
               <textarea id="textarea" name="description">Limit 500 characters</textarea>
            </div>
         </div>
         </br>
         </label>
         <div class="mentortopics-group">
         <label class="mentortopics-label" for="mentortopics">5. If you are a mentor, what topics would you like to mentor on?</label>
         <div class="mentortopics">
            <div class = "row">
               <div class = "col-md-4 form-group">
                  <label class="checkbox" for="checkbox-0">
                  <input type="checkbox" name="mentortopics" id="mentortopics-0" value=1>
                  Arts & Crafts
                  </label>
                  <label class="checkbox" for="checkbox-1">
                  <input type="checkbox" name="mentortopics" id="mentortopics-1" value=2>
                  Career & Business
                  </label>
                  <label class="checkbox" for="checkbox-2">
                  <input type="checkbox" name="mentortopics" id="mentortopics-2" value=3>
                  Community & Environment
                  </label>
                  <label class="checkbox" for="checkbox-3">
                  <input type="checkbox" name="mentortopics" id="mentortopics-3" value=4>
                  Education & Learning
                  </label>
                  <label class="checkbox" for="checkbox-4">
                  <input type="checkbox" name="mentortopics" id="mentortopics-4" value=5>
                  Fitness
                  </label>
                  <label class="checkbox" for="checkbox-5">
                  <input type="checkbox" name="mentortopics" id="mentortopics-5" value=6>
                  Food & Drinks
                  </label>
                  <label class="checkbox" for="checkbox-6">
                  <input type="checkbox" name="mentortopics" id="mentortopics-6" value=7>
                  Health & Well Being
                  </label>
               </div>
               <div class="col-md-4 form-group">
                  <label class="checkbox" for="checkbox-7">
                  <input type="checkbox" name="mentortopics" id="mentortopics-7" value=8>
                  Language & Ethnic Identity
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-8" value=9>
                  Life Experiences
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-9" value=10>
                  Literature & Writing
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-10" value=11>
                  Motivation
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-11" value=12>
                  New Age & Spirituality
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-12" value=13>
                  Outdoors & Adventure
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-13" value=14>
                  Parents & Family
                  </label>
               </div>
               <div class="col-md-4 form-group">
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-14" value=15>
                  Peer Pressure
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-15" value=16>
                  Pets & Animals
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-16" value=17>
                  Religion & Beliefs
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-17" value=18>
                  Self-improvement/Growth
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-18" value=19>
                  Sports & Recreation
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-19" value=20>
                  Support
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-20" value=21>
                  Tech
                  </label>
                  <label class="checkbox" for="checkbox-8">
                  <input type="checkbox" name="mentortopics" id="mentortopics-21" value=22>
                  Women
                  </label>
               </div>
            </div>
         </div>
         <div class="mentortopics-group">
            <div class="mentortopics">
               <button id="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
         </div>
      </form>
      <script>
         $('.nav-tabs').hide()
      </script>
   </body>
</html>
{% endblock %}