<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/style.css" />
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
   </head>
   <body>
      <div class="navbar navbar-inverse navbar-static-top">
         <div class="container">
            <div class="navbar-header">
               <img src="/static/img/mentor.gif" HEIGHT="40px" WIDTH="40px"><a class="navbar-brand" href="/">Mentoree Match</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  {% if session.get('linkedin_id') %}
                  <li><a href="/logout">Log Out</a></li>
                  {% else %}
                  <li><a href="/create_newuser">Sign Up</a></li>
                  <li><a href="/login">Log In</a></li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </div>
      <div class = "nav-tabs">
      <ul class="nav nav-tabs" id="myTab">
         <li class="active home"><a href="/home">Search</a></li>
         <li class="profile"><a href="/profile">Profile</a></li>
         <li class="messages"><a href="/email">Email</a></li>
         <li class="settings"><a href="/about">About Us</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="home">search</div>
         <div class="tab-pane" id="profile">profile</div>
         <div class="tab-pane" id="email">email</div>
         <div class="tab-pane" id="about">about us</div>
      </div>
  </div>
      <div class="container">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <ul class="flashes">
            <li>{{message}}</li>
         </ul>
         {% endfor %}
         {% endif %}
         {% endwith %}
         {% block body %}{% endblock %}
      </div>
      <script>
         $('#myTab a').click(function (e) {
             console.log(this)
             $(this).tab('show');
         })
      </script>
   </body>
</html>