<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/style.css" />
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
   </head>
   <body>
      <div class="navbar navbar-inverse navbar-static-top">
         <div class="container">
            <div class="navbar-header">
               <img src="/static/img/mentor.gif" HEIGHT="40px" WIDTH="40px"><a class="navbar-brand" href="/">Mentoree Match</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  {% if session.get('linkedin_id') %}
                  <li><a href="/logout">Log Out</a></li>
                  {% else %}
                  <li><a href="/login">Sign In</a></li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </div>
      <ul class="nav nav-tabs" id="myTab">
         <li class="settings pull-right"><a href="/about">About Us</a></li>
         <li class="email pull-right"><a href="/email_history">Email</a></li>
         <li class="profile pull-right"><a href="/profile">My Profile</a></li>
         <li class="active home pull-right"><a href="/home">Search</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="home"></div>
         <div class="tab-pane" id="profile"></div>
         <div class="tab-pane" id="email"></div>
         <div class="tab-pane" id="about"></div>
      </div>
      <div class="container">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{message}}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
         {% block body %}{% endblock %}
      </div>
      <div class="container">
         <div class="col-sm-8 col-sm-offset-2 text-center">
            <hr>
            <h5>
               “In learning you will teach, and in teaching you will learn.” 
            </h5>
            <p>― Phil Collins</p>
            <hr>
         </div>
         <!--/col-->
      </div>
      <!--/container-->
      </div><!--/wrap-->
      <div id="footer">
         <div class="container">
            <p class="text-muted">Some footer text <a href="http://www.mentoree.com">mentoree.com</a></p>
         </div>
      </div>
      <script>
         $('#myTab a').click(function (e) {
             console.log(this)
             $(this).tab('show');
         })
      </script>
   </body>
</html>