{% extends 'base.html' %}
{% block body %}
<html>
   {% if error %}
   <h2> {{ error }} </h2>
   {% else %}
   <html>
      <body>
         <form method="POST" action="/email">
            <br>
            <div class="jumbotron jumbotron-sm">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12 col-lg-12">
                        <div class="col-sm-1 column">
                           <div class="center-block placeholder">
                              {% if ment_data.picture_url != None %}
                              <img alt="140x140" src="{{ment_data.picture_url}}"/>
                              {% else %}
                              <img alt="140x140" src="http://pipsum.com/140x140.jpg"/>
                              {% endif %}
                              </div>
                        </div>
                        <div class="col-sm-11 column">
                           <h1 class="h1" style="text-align: center">
                              <a style="color:Black" href="/mentor_detail/{{ment_data.linkedin_id}}">Email: <small>{{ment_data.first_name}}&nbsp;{{ment_data.last_name}}</small></a>
                           </h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <legend><span class="glyphicon glyphicon-globe"></span> Emails Sent to:&nbsp;{{ment_data.first_name}}</legend>
                     <table class="table">
                        <thead>
                           <tr>
                              <th>
                                 #
                              </th>
                              <th>
                                 Date
                              </th>
                              <th>
                                 Subject
                              </th>
                              <th>
                                 From
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                        {% set count = 1 %}
                        {% for emails in email_history %}
                        {% if loop.index <= 5 %}
                        <tr id="{{emails.id}}">
                           <td>
                              {{count}}
                              {% set count= count+1 %}
                           </td>
                           <td>
                              {{emails.sent_date.strftime('%m/%d/%Y')}}
                           </td>
                           <td>
                              {{emails.subject}}
                           </td>
                           <td>
                              {{emails.sender.first_name}}&nbsp;{{emails.sender.last_name}}
                           </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                     </tbody>
                     </table>
                  </div>
                  <div class="col-md-8">
                     <div class="well well-sm">
                        <div class="row">
                           <div class="col-md-12">
                           <div class="email_contents">
                                 </div>
                              </div>
                           <div class="col-md-6">
                              <fieldset disabled>
                                 <div class="form-group">
                                    <label for="mentor_name">
                                    To:</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ment_data.first_name}}&nbsp;{{ment_data.last_name}}">
                                 </div>
                              </fieldset>
                              <fieldset disabled>
                                 <div class="form-group">
                                    <label for="user_name">
                                    From:</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user_data.first_name}}&nbsp;{{user_data.last_name}}">
                                 </div>
                              </fieldset>
                              <div class="form-group">
                                 <label for="subject">
                                 Subject</label>
                                 <input type="text" class="form-control" name="subject" id="subject" placeholder="Can you be my mentor?" required="required" />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="name">
                                 Message</label>
                                 <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                    placeholder="Message"></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-md-12">
                                 <button type="submit" class="btn btn-primary pull-right" id="btnEmail">
                                 Send Message</button>
                              </div>
                           </div>
                        </div>
                        <input type = "hidden" name="mentor_id" value="{{ment_data.linkedin_id}}"/>
                     </div>
                  </div>
               </div>
            </div>
         </form>
         <script>
            function email_detail(result) {
               $(".email_contents").html(
                  '<div class="container">'+
                  '<div class="row clearfix">'+
                  '<div class="col-md-7 column">'+
                  '<div class="list-group">'+
                  '<h5>From:&nbsp;'+result.sender.first_name+'&nbsp;'+result.sender.last_name+' </h5>'+
                  '<div class="list-group-item">'+
                  '<h4>Subject:&nbsp;<small>'+result.subject+'</small></h4>'+
                  '</div>'+
                  '<div class="list-group-item">'+
                  '<h4 class="list-group-item-heading text-right">'+
                     '<small>'+result.sent_date+'</small></h4><br>'+
                  '<p class="list-group-item-text">'+
                     result.text_body+
                  '</p>'+
                  '</div>'+
                  '</div>'+
                  '</div>'+
                  '</div>'+
                  '</div>')
            }

            $(document).ready(function (){
               $("#myTab .active").removeClass("active");
               $("#myTab .email").addClass("active");
            

               $("tbody tr").click(function(){
                  var emailId = $(this).attr('id');
               
                  $.getJSON("/email_detail/"+emailId,function(result){
                     email_detail(result)  
                  })
               })
            });

         </script>
         {% endif %}
      </body>
   </html>
   {% endblock %}