{% extends 'base.html' %}
{% block body %}
<html>
   {% if error %}
   <h2> {{ error }} </h2>
   {% else %}    
   <br>
   <div class="jumbotron" style="overflow:auto">
      <h2 class="search-form">Search</h2>
      <img src="static/img/mentorship_zen.jpg" class="img-responsive">
      <form method="POST" action="/home">

         <div class="searchtopics-group">
            <label class="searchtopics-label" for="searchtopics">Search Topics:</label>
            <div class="searchtopics">
            <div class = "form-horizontal">
               <div class = "col-xs-4 form-group">
                  <div class = "radio">
                  {% for i in range(topics | length) %}
                  {% if i > 0 and i%8 == 0 %}
               </div>
               <div class = "col-xs-4 form-group">
                  <div class = "radio">
                  {% endif %}
                  <label class="radios">
                  <input type="radio" name="searchtopics" value="{{topics[i].topic_id}}">
                  {{topics[i].title}}
                  </label>
                  {% endfor %}
               </div>
            </div>
            </div>
         </div>


         <div class="col-lg-3 col-sm-4 col-6 fixedheight">
            <button id="submit" name="submit" class="btn btn-primary pull-right">Submit</button>
         </div>
   </div>
   </form>
   </div>
   </div>
   <script></script>
   {% endif %}
</html>
{% endblock %}