{% extends 'base.html' %}
{% block body %}
<html>
   {% if error %}
   <h2> {{ error }} </h2>
   {% else %}    
   <div class="page-header">
               <h1>
                  Search Results:
               </h1>
            </div>
   {% for mentors in mentor_data %}
   <div class="container">
      <div class="row clearfix">
         <div class="col-md-12 column">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     {{mentors.first_name}}&nbsp;{{mentors.last_name}}
                  </h3>
               </div>
               <div class="panel-body">
                  <div class="media">
                     <a href="#" class="pull-left"><img src="{{mentors.picture_url}}" class="media-object" alt='' /></a>
                     <div class="media-body">
                        <p><b>Industry:&nbsp;</b>{{mentors.industry}}</p>
                        <p><b>Field of Study:&nbsp;</b>{{mentors.educations_field_of_study}}</p>
                        "{{mentors.description}}"
                     </div>
                  </div>
               </div>
               <div class="panel-footer">
                  <a href="#">Hide</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   <script></script>
   {% endif %}
</html>
{% endblock %}